.home-page {

    h1,
    h2,
    h3 {
        padding-bottom: 1em;
    }
    h1{
        text-align: center;
        font-size: 1.5rem;
    }

    img {
        width: 20px;
        margin-right: 10px;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        a {
            margin-right: 15px;
            font-size: 1.5em;
        }
        margin-bottom: 50px ;
    }
}