form{
    display: flex;
    // align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    input, select, button{
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        &.ng-touched.ng-invalid{
            border-left: 5px solid red
        }  
        &.ng-valid[required]{
            border-left: 5px solid rgb(0, 198, 0);
        }
    }
}

h1{
    text-align: center;
    margin-bottom: 25px;
}
nav{
    display: flex;
    justify-content: space-evenly;    
    a {
        all: unset; /* Resets all styles */
        cursor: pointer;
        &:hover{
            color: #f1864d;
        }
        margin-right: 15px;
        &.active{
            color: #f1864d;
            text-decoration: underline;
        }
    }
    margin-bottom: 25px;
}